<script type="text/javascript">
    RED.nodes.registerType('example-ds18b20', {
        category: 'function',
        color: '#a6bbcf',
        defaults: {
            name: { value: "" }
        },
        inputs: 1,
        outputs: 1,
        icon: "file.png",
        label: function () {
            return this.name || "example-ds18b20";
        }
    });
</script>

<script type="text/html" data-template-name="example-ds18b20">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/html" data-help-name="lower-case">
    <p>A simple node that converts the message payloads into all lower-case characters</p>
</script>